/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #1d1d1d;
  color: white;
}

/**
 * MAIN SPLASH ###############################################################
*/
main {
  height: 100vh;
  background: url("../images/mikey_main_splash.jpg");
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
}
main .darken {
  background-color: rgba(0,0,0,0.3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main h1 {
  color: rgba(255,255,255,0.8);
  font-family: 'Lobster', cursive;
  font-size: 6em;
  margin: 0;
}
main h1 span { color: #e9e42f; }
main p {
  color: rgba(255,255,255,0.75);
  margin: 0;
  font-size: 1.5em;
  padding-right: 50px;
  margin-top: -18px;
  text-align: right;
  font-weight: 700;
}
main .links-container {
  display: flex;
  margin-top: 25px;
}
main .links-container .link {
  padding: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #CCC;
  color: white;
  text-decoration: none;
}
main .clearfix { height: 200px; }

/**
 * SECTIONS ###############################################################
*/
section {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
  justify-content: space-evenly;
}
section .photos {
  max-width: 800px;
}
section article {
  max-width: 400px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
section .photos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
section article { padding: 50px 50px; }
section article h2 {
  font-family: 'Lobster', cursive;
  font-size 4em;
}
section article p {
  text-align: justify;
  font-style: italic;
}
section img {
  max-height: 160px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#portraits {
  flex-direction: row-reverse;
  color: black;
  background-color: #eee;
}

/**
 * SECTIONS ###############################################################
*/
footer {
  height: 50vh;
  background-color: #5f5f5f;
  padding: 100px;
  display: flex;
}
footer p {
  font-size: 1.5em;
  color: rgba(255,255,255,0.8);
}
