/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: white;
}

/**
 * MAIN SPLASH ###############################################################
*/
main {
  height: 100vh;
  background: url("../images/mikey_main_splash.jpg");
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
}
main .darken {
  background-color: rgba(0,0,0,0.3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main h1 {
  color: rgba(255,255,255,0.8);
  font-family: 'Lobster', cursive;
  font-size: 6em;
  margin: 0;
}
main h1 span { color: #e9e42f; }
main p {
  color: rgba(255,255,255,0.75);
  margin: 0;
  font-size: 1.5em;
  padding-right: 50px;
  margin-top: -18px;
  text-align: right;
  font-weight: 700;
}
main .links-container {
  display: flex;
  margin-top: 25px;
}
main .links-container .link {
  padding: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #CCC;
  color: white;
  text-decoration: none;
}
main .clearfix { height: 200px; }

/**
 * ALBUMS ###############################################################
*/
.padding-bottom { padding-bottom: 40px; }
img {
  max-width: 100vw;
  margin-top: 40px;
}
img.full { max-width: 100vw; }

.framed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.framed img { max-height: 75vh; }

